div.item2 {
    vertical-align: top;
    display: inline-block;
    text-align: center;
}
.img2 {
    width: 30%;
    height: 30%;
}
.caption2 {
    display: block;
    color: #000000;
    font-size: 40px;
}